@keyframes obstacleToLeft{
    0%{
        left: 105vw;
    }

    100%{
        left: -30px;
    }
}

@keyframes jump{
    0%{
        top: 280px;
    }

    15%{
        top: 220px;
    }

    70%{
        top: 220px;
    }

    100%{
        top: 280px;
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow: hidden;
}

body{
    height: 100vh;
    background-color: #424744;
}

.game__box{
    background-color: #141414;
    width: 100vw;
    height: 350px;
    position: relative;
    box-shadow: 5px 5px 20px;
}

.game__box h2{
    text-align: center;
    color: #b8bab9;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.score{
    font-size: 2rem;
    color: #b8bab9;
}

.player{
    width: 30px;
    height: 70px;
    background-color: aqua;
    position: absolute;
    top: 280px;
    left: 10px;
}

.jumpAnim{
    animation: jump .7s;
}

.obstacle{
    width: 30px;
    height: 30px;
    background-color: red;
    position: absolute;
    top: 320px;
    left: 95vw;
}

.obstacleAnim{
    animation: obstacleToLeft 1.2s infinite linear;
}